
body {
    background: url("../images/home_background.jpg") no-repeat fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    height: 13vh;
    background-color: black;
    display: flex;
    color: white;
}

#profile {
    margin: 22px;
    height: 60px;
    width: 60px;
    padding-bottom: 0;
}

#profile:hover {
    border: 2px solid lime;
    box-sizing: border-box;
}

#exit {
    position: absolute;
    height: 6%;
    width: 10%;
    top: 13%;
    background-color: black;
    border-top: 1px solid blue;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}

#exit-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

#player-data {
    width: 30%;
}
#name-weight {
    display: flex;
}

#name {
    margin-bottom: 0;
}

#email {
    margin-top: -1%;
    width: 21vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#weight {
    margin-left: 20%;
    white-space: pre-wrap;
}

#rating {
    position: absolute;
    display: flex;
    left: 55%;
    transform: translateX(-50%);
}

.cup {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 20px;
    width: 40px;
    height: 50px;
}

#main-part {
    display: flex;
}

#menu {
    width: 30vw;
    height: 82vh;
}

#frame {
    position: relative;
    height: 450px;
    width: 350px;
    margin-top: 7vh;
    margin-left: 3vw;
}

#img-frame {
    position: absolute;
    height: 450px;
    width: 350px;
    pointer-events: none;
}

#menu-buttons {
    height: 450px;
    width: 350px;
    position: absolute;
    padding-left: 50%;
    padding-top: 31%;
}

.menu-button {
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 16px black;
    transform: translateX(-50%);
    margin-bottom: 30px;
}

.menu-button:hover {
    cursor: pointer;
    background-color: #FFF842;
    color: #ff0000;
    font-weight: bold;

    box-shadow: #000000 -5px 5px;
    transform: translate3d(-70px, 0px, 0);

    transition: all, 0.4s;
}

.create-game {
    top: 25%;
    height: 50px;
    width: 200px;
    font-size: 1.5em;
    background-color: #9a4087;
    color: white;
}

.join-game {
    top: 43%;
    height: 50px;
    width: 200px;
    font-size: 1.4em;
    background-color: #908c02;
    color: white;
}

.my-rating {
    top: 61%;
    height: 50px;
    width: 200px;
    font-size: 1.5em;
    background-color: #31ada8;
    color: white;
}

#table {
    width: 68vh;
    height: 82vh;
    padding-left: 20vw;
    padding-top: 5vh;
}

.rating-table th {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    color: white;
    background-color: #324432;
}

.rating-table td {
    font-weight: normal;
    font-size: 1em;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.rating-table {
    transform: translateX(-50%);
    padding: 0;
    text-align: center;
    overflow: hidden;
}

.rating-table td, .rating-table th {
    padding-bottom: 2%;
    padding-top: 2%;
}

#your-row {
    color: black;
    background-color: green;
}

.rating-table tr:nth-child(odd) {
    background-color: #323C50;
}

.rating-table tr:nth-child(even) {
    background-color: #2C3446;
}

.rating-table td {
    color: #07f1ce;
}

.rating-table tr:hover {
    background-color: #4778ec;
    box-shadow: 0 6px 6px -6px #0E1119;
    color: white;
}

#blur {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
}

.game-window {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px;
    text-align: center;
}

#close {
    margin-left: 90%;
    margin-top: 2%;
}

#close:hover {
    cursor: pointer;
}

#players {
    width: 60%;
    height: 15%;
    background-color: lightgray;
    margin-left: 50%;
    margin-bottom: 16%;
    transform: translateX(-50%);
    border-radius: 25px;
    box-shadow: 0 4px 8px black;
    font-size: 1.1em;
    display: flex;
}

#players:hover {
    cursor: pointer;
}

.player-count-selector {
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top: 3px;
    pointer-events: none;
}

.two-players {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-sizing: border-box;
}

.three-players {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-sizing: border-box;
}

.selected {
    color: white;
    background-color: red;
    border-bottom: 5px solid #5b2020;
}

#create-button {
    transform: translateX(-50%);
    margin-left: 35%;
    width: 35%;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(to left, purple 40%, darkblue 75%);
    color: white;
    font-size: 1.2em;
}

#find-game {
    transform: translateX(-50%);
    margin-left: 50%;
    outline: none;
    text-align: center;
    height: 25px;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.transfer-button {
    margin: 0 auto;
    border-radius: 10px;
    background: linear-gradient(to left, purple 40%, darkblue 75%);
    font-size: 1.2em;
    height: 40px;
    color: white;
}

.transfer-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#join-button {
    width: 55%;
    color: white;
    font-size: 1.2em;
}