body {
    margin: 0;
    padding: 0;
}

#background {
    background-image: linear-gradient(to top, black 0%, yellow 0%);
    height: 100vh;
    width: 100vw;
    position: absolute;
}
.form-input {
    position: relative;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid red;
    font-size: 18px;
    height: 30px;
    outline: none;
}

.number {
    width: 73.1%;
}

.form-input:focus {
    border-color: blue;
}


.form {
    text-align: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 16px black;

    transform: translateX(-50%);
    position: absolute;
    left: 50vw;
}

.enter-block {
    height: 340px;
    width: 300px;
    top: 31vh;
    padding-top: 15px;
}

.registration-block {
    height: 500px;
    width: 300px;
    top: 19vh;
}

.submit {
    border-radius: 20px;
    height: 40px;
    width: 100px;
    position: relative;
    border: none;
    background-color: lime;
    font-weight: bold;
    font-size: 18px;
}


.submit:hover {
    border: 1px solid red;
}
.enter {
    height: 40px;
    width: 100px;
}

.reg {
    height: 40px;
    width: 200px;
    bottom: 25px;
}
.line {
    position: absolute;
    height: 8vh;
}

.up {
    top: 7vh;
}

.bottom {
    bottom: 7vh;
}

.static {
    width: 100vw;
    background-color: red;
}

#decorations {
    position: relative;
}
.card {
    position: absolute;
    width: 140px;
    height: 210px;
    transform: translateY(-50%) translateX(-50%);
    border: 1px solid black;
    border-radius: 20px;
}

#card1 {
    top: 40vh;
    left: 20vw;
}

#card2 {
    top: 50vh;
    left: 20vw;
}

#card3 {
    top: 40vh;
    left: 80vw;
}

#card4 {
    top: 50vh;
    left: 80vw;
}

.minus-30 {
    rotate: -30deg;
}

.plus-30 {
    rotate: 30deg;
}

#pig {
    position: absolute;
    height: 180px;
    width: 330px;
    top: 8vh;
    left: 40vw;
}

h5 {
    position: absolute;
    color: red;
}

#error-email {
    top: 5vh;
    left: 3vw;
}

#error-passwords {
    top: 39.5vh;
    left: 5vw;
}

#error-enter {
    top: 23vh;
    left: 4vw;
}

#transition-button {
    text-decoration: underline;
    color: blue;
}

#transition-button:hover {
    color: peru;
    cursor: pointer;
}